.chrono {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 90%;

    margin: 40px;

    &__numbers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: 1px solid #266db6;
        // margin: 8px;

        height: 200px;
        width: 200px;
        border-style: none;
        background-image: url('../../assets/backgrounds/grainy-orange.png');
        box-shadow: #FF6314 0 -6px 8px inset;
        opacity: 95%;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        border-radius: 50%;


        p{
            margin: 2px;
            font-size: 40px;
            text-align: center;
            // font-family: 'Quicksand', sans-serif;
        }

}

    &__btns {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 40px;

        button{
        margin: 10px;

        appearance: none;
        font-family: 'Quicksand', sans-serif;

        border-style: none;
        border-radius: 40em;
        box-shadow: #ADCFFF 0 -12px 6px inset;
        box-sizing: border-box;
        color: #000000;

        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        outline: none;
        padding: 1rem 1.3rem;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        }

        button:hover {
            background-image: url('../../assets/backgrounds/grainy-orange.png');
            opacity: 95%;
            box-shadow: #FF6314 0 -6px 8px inset;
            transform: scale(1.125);
            }

            button:active {
            transform: scale(1.025);
            }
    }
}